name: Tests
'on':
  push:
  pull_request:

env:
  BROWSER_STACK_ACCESS_KEY: '${{ secrets.BROWSER_STACK_ACCESS_KEY }}'
  BROWSER_STACK_USERNAME: '${{ secrets.BROWSER_STACK_USERNAME }}'

jobs:
  test:
    runs-on: ubuntu-20.04
    name: Node ${{ matrix.node }} (lib)
    strategy:
      matrix:
        node:
          - '6'
          - '8'
          - '10'
          - '12'
          - '14'
          - '16'
    steps:
      - uses: actions/checkout@v2
      - name: Setup node (build)
        uses: actions/setup-node@v1
        with:
          node-version: '16'
      - run: npm install
      - run: npm run build
      - name: Setup node (test)
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: npm run test-lib

  test-lib:
    runs-on: ubuntu-20.04
    name: Node ${{ matrix.node }} (src)
    strategy:
      matrix:
        node:
          - '14'
          - '16'
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm run test-src

  test-targets:
    runs-on: ubuntu-20.04
    name: ${{ matrix.targets.name }}
    strategy:
      matrix:
        targets:
          - name: 'Lint'
            target: 'lint'
          - name: 'Coverage'
            target: 'coverage'
          - name: 'Documentation'
            target: 'test-docs'
          - name: 'Browser'
            target: 'test-browser'
          - name: 'Browser - IE11'
            target: 'test-browser-ie11'

    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '16'
      - run: npm install
      - run: npm run ${{ matrix.targets.target }}
      - name: Upload coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ matrix.targets.target == 'coverage' }}
